<div class="flex flex-wrap align-items-center justify-content-center min-h-screen">
  <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
    <form
      class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="mb-2" for="username">Username</label>
        <input
          formControlName="username"
          pInputText
          id="username"
          aria-describedby="username-help" />
        <span
          *ngIf="
            formGroup.get('username')?.touched && formGroup.get('username')?.hasError('required')
          ">
          Username is required
        </span>
        <span
          *ngIf="
            formGroup.get('username')?.touched && formGroup.get('username')?.hasError('minlength')
          ">
          Min characters is {{ USERNAME_MIN_LENGTH }}</span
        >
      </div>
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="mb-2" for="username">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          pInputText
          aria-describedby="username-help" />

        <span
          *ngIf="
            formGroup.get('password')?.touched && formGroup.get('password')?.hasError('required')
          ">
          Username is required
        </span>
        <span
          *ngIf="
            formGroup.get('password')?.touched && formGroup.get('password')?.hasError('minlength')
          ">
          Min characters is {{ USERNAME_MIN_LENGTH }}</span
        >
      </div>
      <p-button
        type="submit"
        size="large"
        styleClass="bg-gray-900 border-transparent"
        label="Login" />
    </form>
  </div>
  <div class="w-full md:w-2">
    <p-divider layout="vertical" styleClass="hidden md:flex">
      <b>OR</b>
    </p-divider>
    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
      <b>OR</b>
    </p-divider>
  </div>

  <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
    <p-button
      disabled
      size="large"
      label="Sign Up"
      icon="pi pi-user-plus"
      styleClass="p-button-success w-10rem" />
  </div>
</div>
