<div class="flex flex-wrap align-items-center justify-content-center min-h-screen">
  <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
    <form
      class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label i18n class="mb-2" for="username">Username</label>
        <input
          i18n
          formControlName="username"
          pInputText
          id="username"
          aria-describedby="username-help" />
        <span
          *ngIf="
            formGroup.get('username')?.touched && formGroup.get('username')?.hasError('required')
          ">
          Username is required
        </span>
        <span
          *ngIf="
            formGroup.get('username')?.touched && formGroup.get('username')?.hasError('minlength')
          ">
          Min characters is {{ USERNAME_MIN_LENGTH }}</span
        >
      </div>
      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label i18n class="mb-2" for="username">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          pInputText
          aria-describedby="username-help" />

        <span
          i18n
          *ngIf="
            formGroup.get('password')?.touched && formGroup.get('password')?.hasError('required')
          ">
          Username is required
        </span>
        <span
          i18n
          *ngIf="
            formGroup.get('password')?.touched && formGroup.get('password')?.hasError('minlength')
          ">
          Min characters is {{ USERNAME_MIN_LENGTH }}</span
        >
      </div>
      <button
        icon="fa fa-sign-in"
        class="bg-gray-900 border-transparent"
        pButton
        type="submit"
        size="large">
        <span i18n>Login</span>
      </button>
    </form>
  </div>
  <div class="w-full md:w-2">
    <p-divider layout="vertical" styleClass="hidden md:flex">
      <b>OR</b>
    </p-divider>
    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
      <b>OR</b>
    </p-divider>
  </div>

  <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
    <button pButton class="p-button-success w-10rem" disabled size="large" icon="fa fa-user-plus">
      <span i18n>Sign Up</span>
    </button>
  </div>

  {{ created_by }}
</div>
