<div class="flex flex-column mt-8">
  <div
    class="mt-8 flex flex-column align-items-center justify-content-center h-4rem font-bold border-round m-2">
    <form class="formgrid grid flex flex-column align-items-center justify-content-center">
      <div class="flex flex-row gap-5 mt-5 align-items-center justify-content-center">
        <div class="field col-6 md:col-6">
          <label for="firstname2">Description</label>
          <input
            id="todo"
            pInputText
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-6 md:col-6 align-items-center justify-content-center">
          <p-checkbox formControlName="completed" value="true" inputId="ny" />
          <label class="ml-3" for="ny">Completed</label>
        </div>
      </div>
    </form>

    <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
      <p-button
        disabled
        size="large"
        label="Create"
        icon="fa fa-plus"
        styleClass="p-button-success w-10rem" />
    </div>
  </div>
</div>
